body {
    font-family: 'Open Sans', serif;
}

header {
    background-color: #B83634;
    margin-left: -15px;
    margin-right: -15px;
}
header h1 {
    font-size: 17px;
    color: #FFCC09;
    letter-spacing: 0.6px;
    margin-top: 10px;
}

.score-row {
    height: 130px;
    display: flex;
    align-items: center;
}
.score-row .player-image {
    margin-right: 20px;
    width: 100px;
    height: 100px;
}
.score-row > div h2 {
    font-size: 33px;
    letter-spacing: 1.5px
}
.score-row > div p {
    font-size: 19px
}
.score-row .victory {
    margin-left: auto;
    background-color: #63bcc9;
    border-color: #40aab9;
}

.blue {
    background: #0066CC;
    background: -webkit-linear-gradient(141deg, #0066CC, #4da6ff);
    background: linear-gradient(141deg, #0066CC, #4da6ff);
    color: #FFF;
}
.orange {
    background: #ffa500;
    background: -webkit-linear-gradient(141deg, #ffa500, #ffc967);
    background: linear-gradient(141deg, #ffa500, #ffc967);
    color: #000;
}
.red {
    background: #cc0000;
    background: -webkit-linear-gradient(141deg, #cc0000, #ff3434);
    background: linear-gradient(141deg, #cc0000, #ff3434);
    color: #FFF;
}
.white {
    background: #ededed;
    background: -webkit-linear-gradient(141deg, #ededed, #FFF);
    background: linear-gradient(141deg, #ededed, #FFF);
    color: #000;
}

#newPlayer {
    background-color: #814040;
    border-radius: 0;
    width: 100%;
    height: 70px;
    padding-top: 15px;
    color: #FFF;
    font-size: 23px;
    letter-spacing: 1.3px;
}

.zero-padding {
    padding: 0;
}
